[submodule "lib/sleepy-discord"]
	path = lib/sleepy-discord
	url = https://github.com/yourWaifu/sleepy-discord.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/emojicpp"]
	path = lib/emojicpp
	url = https://github.com/99x/emojicpp.git
[submodule "lib/opus"]
	path = lib/opus
	url = https://github.com/xiph/opus.git
[submodule "lib/mdcore"]
	path = lib/mdcore
	url = https://github.com/MaxDistructo/mdcore
